div(class='w3-bar w3-black')
    a(class='w3-bar-item w3-button', href='/') LocalNetflix
    a(class='w3-bar-item w3-button', href='/serach') Serach
    span
        form(method="post")
            input(class='w3-bar-item w3-input w3-animate-input w3-black',type='search',style='width:15%;max-width:30%',name='search',) Serach